<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ethan.oasy.mapper.ConferencePartMapper" >
  <resultMap id="BaseResultMap" type="com.ethan.oasy.pojo.ConferencePart" >
    <result column="conference_id" property="conferenceId" jdbcType="VARCHAR" />
    <result column="part_name" property="partName" jdbcType="VARCHAR" />
    <result column="part_id" property="partId" jdbcType="VARCHAR" />
    <result column="conference_name" property="conferenceName" jdbcType="VARCHAR" />
    <result column="part_type" property="partType" jdbcType="INTEGER" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    conference_id, part_name, part_id, conference_name, part_type
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.ethan.oasy.pojo.ConferencePartExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from conference_part
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <delete id="deleteByExample" parameterType="com.ethan.oasy.pojo.ConferencePartExample" >
    delete from conference_part
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.ethan.oasy.pojo.ConferencePart" >
    insert into conference_part (conference_id, part_name, part_id, 
      conference_name, part_type)
    values (#{conferenceId,jdbcType=VARCHAR}, #{partName,jdbcType=VARCHAR}, #{partId,jdbcType=VARCHAR}, 
      #{conferenceName,jdbcType=VARCHAR}, #{partType,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="com.ethan.oasy.pojo.ConferencePart" >
    insert into conference_part
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="conferenceId != null" >
        conference_id,
      </if>
      <if test="partName != null" >
        part_name,
      </if>
      <if test="partId != null" >
        part_id,
      </if>
      <if test="conferenceName != null" >
        conference_name,
      </if>
      <if test="partType != null" >
        part_type,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="conferenceId != null" >
        #{conferenceId,jdbcType=VARCHAR},
      </if>
      <if test="partName != null" >
        #{partName,jdbcType=VARCHAR},
      </if>
      <if test="partId != null" >
        #{partId,jdbcType=VARCHAR},
      </if>
      <if test="conferenceName != null" >
        #{conferenceName,jdbcType=VARCHAR},
      </if>
      <if test="partType != null" >
        #{partType,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.ethan.oasy.pojo.ConferencePartExample" resultType="java.lang.Integer" >
    select count(*) from conference_part
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update conference_part
    <set >
      <if test="record.conferenceId != null" >
        conference_id = #{record.conferenceId,jdbcType=VARCHAR},
      </if>
      <if test="record.partName != null" >
        part_name = #{record.partName,jdbcType=VARCHAR},
      </if>
      <if test="record.partId != null" >
        part_id = #{record.partId,jdbcType=VARCHAR},
      </if>
      <if test="record.conferenceName != null" >
        conference_name = #{record.conferenceName,jdbcType=VARCHAR},
      </if>
      <if test="record.partType != null" >
        part_type = #{record.partType,jdbcType=INTEGER},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update conference_part
    set conference_id = #{record.conferenceId,jdbcType=VARCHAR},
      part_name = #{record.partName,jdbcType=VARCHAR},
      part_id = #{record.partId,jdbcType=VARCHAR},
      conference_name = #{record.conferenceName,jdbcType=VARCHAR},
      part_type = #{record.partType,jdbcType=INTEGER}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
</mapper>