<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ethan.oasy.mapper.NoticeAndNewsMapper" >
  <resultMap id="BaseResultMap" type="com.ethan.oasy.pojo.NoticeAndNews" >
    <id column="n_id" property="nId" jdbcType="VARCHAR" />
    <result column="n_title" property="nTitle" jdbcType="VARCHAR" />
    <result column="n_type" property="nType" jdbcType="INTEGER" />
    <result column="n_sender" property="nSender" jdbcType="VARCHAR" />
    <result column="n_sender_name" property="nSenderName" jdbcType="VARCHAR" />
    <result column="n_send_time" property="nSendTime" jdbcType="VARCHAR" />
    <result column="n_file_path" property="nFilePath" jdbcType="VARCHAR" />
    <result column="n_file_type" property="nFileType" jdbcType="VARCHAR" />
    <result column="n_file_num_name" property="nFileNumName" jdbcType="VARCHAR" />
    <result column="n_file_real_name" property="nFileRealName" jdbcType="VARCHAR" />
    <result column="n_grade" property="nGrade" jdbcType="TINYINT" />
    <result column="data_status" property="dataStatus" jdbcType="TINYINT" />
    <result column="n_distinguish" property="nDistinguish" jdbcType="TINYINT" />
  </resultMap>
  <resultMap id="ResultMapWithBLOBs" type="com.ethan.oasy.pojo.NoticeAndNews" extends="BaseResultMap" >
    <result column="n_send_content" property="nSendContent" jdbcType="LONGVARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    n_id, n_title, n_type, n_sender, n_sender_name, n_send_time, n_file_path, n_file_type, 
    n_file_num_name, n_file_real_name, n_grade, data_status, n_distinguish
  </sql>
  <sql id="Blob_Column_List" >
    n_send_content
  </sql>
  <select id="selectByExampleWithBLOBs" resultMap="ResultMapWithBLOBs" parameterType="com.ethan.oasy.pojo.NoticeAndNewsExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from notice_and_news
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.ethan.oasy.pojo.NoticeAndNewsExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from notice_and_news
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="ResultMapWithBLOBs" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from notice_and_news
    where n_id = #{nId,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from notice_and_news
    where n_id = #{nId,jdbcType=VARCHAR}
  </delete>
  <delete id="deleteByExample" parameterType="com.ethan.oasy.pojo.NoticeAndNewsExample" >
    delete from notice_and_news
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.ethan.oasy.pojo.NoticeAndNews" >
    insert into notice_and_news (n_id, n_title, n_type, 
      n_sender, n_sender_name, n_send_time, 
      n_file_path, n_file_type, n_file_num_name, 
      n_file_real_name, n_grade, data_status, 
      n_distinguish, n_send_content)
    values (#{nId,jdbcType=VARCHAR}, #{nTitle,jdbcType=VARCHAR}, #{nType,jdbcType=INTEGER}, 
      #{nSender,jdbcType=VARCHAR}, #{nSenderName,jdbcType=VARCHAR}, #{nSendTime,jdbcType=VARCHAR}, 
      #{nFilePath,jdbcType=VARCHAR}, #{nFileType,jdbcType=VARCHAR}, #{nFileNumName,jdbcType=VARCHAR}, 
      #{nFileRealName,jdbcType=VARCHAR}, #{nGrade,jdbcType=TINYINT}, #{dataStatus,jdbcType=TINYINT}, 
      #{nDistinguish,jdbcType=TINYINT}, #{nSendContent,jdbcType=LONGVARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.ethan.oasy.pojo.NoticeAndNews" >
    insert into notice_and_news
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="nId != null" >
        n_id,
      </if>
      <if test="nTitle != null" >
        n_title,
      </if>
      <if test="nType != null" >
        n_type,
      </if>
      <if test="nSender != null" >
        n_sender,
      </if>
      <if test="nSenderName != null" >
        n_sender_name,
      </if>
      <if test="nSendTime != null" >
        n_send_time,
      </if>
      <if test="nFilePath != null" >
        n_file_path,
      </if>
      <if test="nFileType != null" >
        n_file_type,
      </if>
      <if test="nFileNumName != null" >
        n_file_num_name,
      </if>
      <if test="nFileRealName != null" >
        n_file_real_name,
      </if>
      <if test="nGrade != null" >
        n_grade,
      </if>
      <if test="dataStatus != null" >
        data_status,
      </if>
      <if test="nDistinguish != null" >
        n_distinguish,
      </if>
      <if test="nSendContent != null" >
        n_send_content,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="nId != null" >
        #{nId,jdbcType=VARCHAR},
      </if>
      <if test="nTitle != null" >
        #{nTitle,jdbcType=VARCHAR},
      </if>
      <if test="nType != null" >
        #{nType,jdbcType=INTEGER},
      </if>
      <if test="nSender != null" >
        #{nSender,jdbcType=VARCHAR},
      </if>
      <if test="nSenderName != null" >
        #{nSenderName,jdbcType=VARCHAR},
      </if>
      <if test="nSendTime != null" >
        #{nSendTime,jdbcType=VARCHAR},
      </if>
      <if test="nFilePath != null" >
        #{nFilePath,jdbcType=VARCHAR},
      </if>
      <if test="nFileType != null" >
        #{nFileType,jdbcType=VARCHAR},
      </if>
      <if test="nFileNumName != null" >
        #{nFileNumName,jdbcType=VARCHAR},
      </if>
      <if test="nFileRealName != null" >
        #{nFileRealName,jdbcType=VARCHAR},
      </if>
      <if test="nGrade != null" >
        #{nGrade,jdbcType=TINYINT},
      </if>
      <if test="dataStatus != null" >
        #{dataStatus,jdbcType=TINYINT},
      </if>
      <if test="nDistinguish != null" >
        #{nDistinguish,jdbcType=TINYINT},
      </if>
      <if test="nSendContent != null" >
        #{nSendContent,jdbcType=LONGVARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.ethan.oasy.pojo.NoticeAndNewsExample" resultType="java.lang.Integer" >
    select count(*) from notice_and_news
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update notice_and_news
    <set >
      <if test="record.nId != null" >
        n_id = #{record.nId,jdbcType=VARCHAR},
      </if>
      <if test="record.nTitle != null" >
        n_title = #{record.nTitle,jdbcType=VARCHAR},
      </if>
      <if test="record.nType != null" >
        n_type = #{record.nType,jdbcType=INTEGER},
      </if>
      <if test="record.nSender != null" >
        n_sender = #{record.nSender,jdbcType=VARCHAR},
      </if>
      <if test="record.nSenderName != null" >
        n_sender_name = #{record.nSenderName,jdbcType=VARCHAR},
      </if>
      <if test="record.nSendTime != null" >
        n_send_time = #{record.nSendTime,jdbcType=VARCHAR},
      </if>
      <if test="record.nFilePath != null" >
        n_file_path = #{record.nFilePath,jdbcType=VARCHAR},
      </if>
      <if test="record.nFileType != null" >
        n_file_type = #{record.nFileType,jdbcType=VARCHAR},
      </if>
      <if test="record.nFileNumName != null" >
        n_file_num_name = #{record.nFileNumName,jdbcType=VARCHAR},
      </if>
      <if test="record.nFileRealName != null" >
        n_file_real_name = #{record.nFileRealName,jdbcType=VARCHAR},
      </if>
      <if test="record.nGrade != null" >
        n_grade = #{record.nGrade,jdbcType=TINYINT},
      </if>
      <if test="record.dataStatus != null" >
        data_status = #{record.dataStatus,jdbcType=TINYINT},
      </if>
      <if test="record.nDistinguish != null" >
        n_distinguish = #{record.nDistinguish,jdbcType=TINYINT},
      </if>
      <if test="record.nSendContent != null" >
        n_send_content = #{record.nSendContent,jdbcType=LONGVARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExampleWithBLOBs" parameterType="map" >
    update notice_and_news
    set n_id = #{record.nId,jdbcType=VARCHAR},
      n_title = #{record.nTitle,jdbcType=VARCHAR},
      n_type = #{record.nType,jdbcType=INTEGER},
      n_sender = #{record.nSender,jdbcType=VARCHAR},
      n_sender_name = #{record.nSenderName,jdbcType=VARCHAR},
      n_send_time = #{record.nSendTime,jdbcType=VARCHAR},
      n_file_path = #{record.nFilePath,jdbcType=VARCHAR},
      n_file_type = #{record.nFileType,jdbcType=VARCHAR},
      n_file_num_name = #{record.nFileNumName,jdbcType=VARCHAR},
      n_file_real_name = #{record.nFileRealName,jdbcType=VARCHAR},
      n_grade = #{record.nGrade,jdbcType=TINYINT},
      data_status = #{record.dataStatus,jdbcType=TINYINT},
      n_distinguish = #{record.nDistinguish,jdbcType=TINYINT},
      n_send_content = #{record.nSendContent,jdbcType=LONGVARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update notice_and_news
    set n_id = #{record.nId,jdbcType=VARCHAR},
      n_title = #{record.nTitle,jdbcType=VARCHAR},
      n_type = #{record.nType,jdbcType=INTEGER},
      n_sender = #{record.nSender,jdbcType=VARCHAR},
      n_sender_name = #{record.nSenderName,jdbcType=VARCHAR},
      n_send_time = #{record.nSendTime,jdbcType=VARCHAR},
      n_file_path = #{record.nFilePath,jdbcType=VARCHAR},
      n_file_type = #{record.nFileType,jdbcType=VARCHAR},
      n_file_num_name = #{record.nFileNumName,jdbcType=VARCHAR},
      n_file_real_name = #{record.nFileRealName,jdbcType=VARCHAR},
      n_grade = #{record.nGrade,jdbcType=TINYINT},
      data_status = #{record.dataStatus,jdbcType=TINYINT},
      n_distinguish = #{record.nDistinguish,jdbcType=TINYINT}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.ethan.oasy.pojo.NoticeAndNews" >
    update notice_and_news
    <set >
      <if test="nTitle != null" >
        n_title = #{nTitle,jdbcType=VARCHAR},
      </if>
      <if test="nType != null" >
        n_type = #{nType,jdbcType=INTEGER},
      </if>
      <if test="nSender != null" >
        n_sender = #{nSender,jdbcType=VARCHAR},
      </if>
      <if test="nSenderName != null" >
        n_sender_name = #{nSenderName,jdbcType=VARCHAR},
      </if>
      <if test="nSendTime != null" >
        n_send_time = #{nSendTime,jdbcType=VARCHAR},
      </if>
      <if test="nFilePath != null" >
        n_file_path = #{nFilePath,jdbcType=VARCHAR},
      </if>
      <if test="nFileType != null" >
        n_file_type = #{nFileType,jdbcType=VARCHAR},
      </if>
      <if test="nFileNumName != null" >
        n_file_num_name = #{nFileNumName,jdbcType=VARCHAR},
      </if>
      <if test="nFileRealName != null" >
        n_file_real_name = #{nFileRealName,jdbcType=VARCHAR},
      </if>
      <if test="nGrade != null" >
        n_grade = #{nGrade,jdbcType=TINYINT},
      </if>
      <if test="dataStatus != null" >
        data_status = #{dataStatus,jdbcType=TINYINT},
      </if>
      <if test="nDistinguish != null" >
        n_distinguish = #{nDistinguish,jdbcType=TINYINT},
      </if>
      <if test="nSendContent != null" >
        n_send_content = #{nSendContent,jdbcType=LONGVARCHAR},
      </if>
    </set>
    where n_id = #{nId,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKeyWithBLOBs" parameterType="com.ethan.oasy.pojo.NoticeAndNews" >
    update notice_and_news
    set n_title = #{nTitle,jdbcType=VARCHAR},
      n_type = #{nType,jdbcType=INTEGER},
      n_sender = #{nSender,jdbcType=VARCHAR},
      n_sender_name = #{nSenderName,jdbcType=VARCHAR},
      n_send_time = #{nSendTime,jdbcType=VARCHAR},
      n_file_path = #{nFilePath,jdbcType=VARCHAR},
      n_file_type = #{nFileType,jdbcType=VARCHAR},
      n_file_num_name = #{nFileNumName,jdbcType=VARCHAR},
      n_file_real_name = #{nFileRealName,jdbcType=VARCHAR},
      n_grade = #{nGrade,jdbcType=TINYINT},
      data_status = #{dataStatus,jdbcType=TINYINT},
      n_distinguish = #{nDistinguish,jdbcType=TINYINT},
      n_send_content = #{nSendContent,jdbcType=LONGVARCHAR}
    where n_id = #{nId,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.ethan.oasy.pojo.NoticeAndNews" >
    update notice_and_news
    set n_title = #{nTitle,jdbcType=VARCHAR},
      n_type = #{nType,jdbcType=INTEGER},
      n_sender = #{nSender,jdbcType=VARCHAR},
      n_sender_name = #{nSenderName,jdbcType=VARCHAR},
      n_send_time = #{nSendTime,jdbcType=VARCHAR},
      n_file_path = #{nFilePath,jdbcType=VARCHAR},
      n_file_type = #{nFileType,jdbcType=VARCHAR},
      n_file_num_name = #{nFileNumName,jdbcType=VARCHAR},
      n_file_real_name = #{nFileRealName,jdbcType=VARCHAR},
      n_grade = #{nGrade,jdbcType=TINYINT},
      data_status = #{dataStatus,jdbcType=TINYINT},
      n_distinguish = #{nDistinguish,jdbcType=TINYINT}
    where n_id = #{nId,jdbcType=VARCHAR}
  </update>

  <select id="findAllNoticeAndNewsByStaffId" resultType="com.ethan.oasy.pojo.StaffNoticeAndNews">
    SELECT
      n.`nc_id` ncId,
      n.`staff_id` staffId,
      n.`notice_id` noticeId,
      n.`is_read` isRead,
      n.`mark` mark,
      nan.`n_distinguish` nDistinguish,
      nan.`n_file_num_name` nFileNumName,
      nan.`n_file_path` nFilePath,
      nan.`n_file_real_name` nFileRealName,
      nan.`n_file_type` nFileType,
      nan.`n_grade` nGrade,
      nan.`n_sender` nSender,
      nan.`n_sender_name` nSenderName,
      nan.`n_send_content` nSendContent,
      nan.`n_send_time` nSendTime,
      nan.`n_title` nTitle,
      nan.`n_type` nType
    FROM `notice_staff` n,notice_and_news nan
    WHERE nan.`n_id` = n.`notice_id` AND n.`data_status` = 1 AND n.`staff_id` = #{staffId,jdbcType=VARCHAR}  AND nan.`n_distinguish` = #{distinguish,jdbcType=TINYINT};
  </select>

  <select id="findAllNoticeAndNews" resultMap="ResultMapWithBLOBs">
    SELECT * FROM notice_and_news
    WHERE data_status = 1
    AND n_distinguish = #{type,jdbcType=TINYINT}
    GROUP BY n_send_time DESC
  </select>
</mapper>