<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ethan.oasy.mapper.OfficeSuppliesPickupMapper" >
  <resultMap id="BaseResultMap" type="com.ethan.oasy.pojo.OfficeSuppliesPickup" >
    <id column="osp_id" property="ospId" jdbcType="VARCHAR" />
    <result column="os_id" property="osId" jdbcType="VARCHAR" />
    <result column="pickup_staff_id" property="pickupStaffId" jdbcType="VARCHAR" />
    <result column="pickup_staff_name" property="pickupStaffName" jdbcType="VARCHAR" />
    <result column="pickup_staff_depart" property="pickupStaffDepart" jdbcType="VARCHAR" />
    <result column="pickup_num" property="pickupNum" jdbcType="INTEGER" />
    <result column="pickup_date" property="pickupDate" jdbcType="VARCHAR" />
    <result column="app_date" property="appDate" jdbcType="VARCHAR" />
    <result column="to_app_id" property="toAppId" jdbcType="VARCHAR" />
    <result column="os_name" property="osName" jdbcType="VARCHAR" />
    <result column="os_ord_num" property="osOrdNum" jdbcType="VARCHAR" />
    <result column="app_status" property="appStatus" jdbcType="INTEGER" />
    <result column="data_status" property="dataStatus" jdbcType="INTEGER" />
  </resultMap>
  <resultMap id="ResultMapWithBLOBs" type="com.ethan.oasy.pojo.OfficeSuppliesPickup" extends="BaseResultMap" >
    <result column="others" property="others" jdbcType="LONGVARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    osp_id, os_id, pickup_staff_id, pickup_staff_name, pickup_staff_depart, pickup_num, 
    pickup_date, app_date, to_app_id, app_status, data_status
  </sql>
  <sql id="Blob_Column_List" >
    others
  </sql>
  <select id="selectByExampleWithBLOBs" resultMap="ResultMapWithBLOBs" parameterType="com.ethan.oasy.pojo.OfficeSuppliesPickupExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from office_supplies_pickup
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.ethan.oasy.pojo.OfficeSuppliesPickupExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from office_supplies_pickup
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="ResultMapWithBLOBs" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from office_supplies_pickup
    where osp_id = #{ospId,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from office_supplies_pickup
    where osp_id = #{ospId,jdbcType=VARCHAR}
  </delete>
  <delete id="deleteByExample" parameterType="com.ethan.oasy.pojo.OfficeSuppliesPickupExample" >
    delete from office_supplies_pickup
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.ethan.oasy.pojo.OfficeSuppliesPickup" >
    insert into office_supplies_pickup (osp_id, os_id, pickup_staff_id, 
      pickup_staff_name, pickup_staff_depart, pickup_num, 
      pickup_date, app_date, to_app_id, 
      app_status, data_status, others
      )
    values (#{ospId,jdbcType=VARCHAR}, #{osId,jdbcType=VARCHAR}, #{pickupStaffId,jdbcType=VARCHAR}, 
      #{pickupStaffName,jdbcType=VARCHAR}, #{pickupStaffDepart,jdbcType=VARCHAR}, #{pickupNum,jdbcType=INTEGER}, 
      #{pickupDate,jdbcType=VARCHAR}, #{appDate,jdbcType=VARCHAR}, #{toAppId,jdbcType=VARCHAR}, 
      #{appStatus,jdbcType=INTEGER}, #{dataStatus,jdbcType=INTEGER}, #{others,jdbcType=LONGVARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.ethan.oasy.pojo.OfficeSuppliesPickup" >
    insert into office_supplies_pickup
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="ospId != null" >
        osp_id,
      </if>
      <if test="osId != null" >
        os_id,
      </if>
      <if test="pickupStaffId != null" >
        pickup_staff_id,
      </if>
      <if test="pickupStaffName != null" >
        pickup_staff_name,
      </if>
      <if test="pickupStaffDepart != null" >
        pickup_staff_depart,
      </if>
      <if test="pickupNum != null" >
        pickup_num,
      </if>
      <if test="pickupDate != null" >
        pickup_date,
      </if>
      <if test="appDate != null" >
        app_date,
      </if>
      <if test="toAppId != null" >
        to_app_id,
      </if>
      <if test="appStatus != null" >
        app_status,
      </if>
      <if test="dataStatus != null" >
        data_status,
      </if>
      <if test="others != null" >
        others,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="ospId != null" >
        #{ospId,jdbcType=VARCHAR},
      </if>
      <if test="osId != null" >
        #{osId,jdbcType=VARCHAR},
      </if>
      <if test="pickupStaffId != null" >
        #{pickupStaffId,jdbcType=VARCHAR},
      </if>
      <if test="pickupStaffName != null" >
        #{pickupStaffName,jdbcType=VARCHAR},
      </if>
      <if test="pickupStaffDepart != null" >
        #{pickupStaffDepart,jdbcType=VARCHAR},
      </if>
      <if test="pickupNum != null" >
        #{pickupNum,jdbcType=INTEGER},
      </if>
      <if test="pickupDate != null" >
        #{pickupDate,jdbcType=VARCHAR},
      </if>
      <if test="appDate != null" >
        #{appDate,jdbcType=VARCHAR},
      </if>
      <if test="toAppId != null" >
        #{toAppId,jdbcType=VARCHAR},
      </if>
      <if test="appStatus != null" >
        #{appStatus,jdbcType=INTEGER},
      </if>
      <if test="dataStatus != null" >
        #{dataStatus,jdbcType=INTEGER},
      </if>
      <if test="others != null" >
        #{others,jdbcType=LONGVARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.ethan.oasy.pojo.OfficeSuppliesPickupExample" resultType="java.lang.Integer" >
    select count(*) from office_supplies_pickup
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update office_supplies_pickup
    <set >
      <if test="record.ospId != null" >
        osp_id = #{record.ospId,jdbcType=VARCHAR},
      </if>
      <if test="record.osId != null" >
        os_id = #{record.osId,jdbcType=VARCHAR},
      </if>
      <if test="record.pickupStaffId != null" >
        pickup_staff_id = #{record.pickupStaffId,jdbcType=VARCHAR},
      </if>
      <if test="record.pickupStaffName != null" >
        pickup_staff_name = #{record.pickupStaffName,jdbcType=VARCHAR},
      </if>
      <if test="record.pickupStaffDepart != null" >
        pickup_staff_depart = #{record.pickupStaffDepart,jdbcType=VARCHAR},
      </if>
      <if test="record.pickupNum != null" >
        pickup_num = #{record.pickupNum,jdbcType=INTEGER},
      </if>
      <if test="record.pickupDate != null" >
        pickup_date = #{record.pickupDate,jdbcType=VARCHAR},
      </if>
      <if test="record.appDate != null" >
        app_date = #{record.appDate,jdbcType=VARCHAR},
      </if>
      <if test="record.toAppId != null" >
        to_app_id = #{record.toAppId,jdbcType=VARCHAR},
      </if>
      <if test="record.appStatus != null" >
        app_status = #{record.appStatus,jdbcType=INTEGER},
      </if>
      <if test="record.dataStatus != null" >
        data_status = #{record.dataStatus,jdbcType=INTEGER},
      </if>
      <if test="record.others != null" >
        others = #{record.others,jdbcType=LONGVARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExampleWithBLOBs" parameterType="map" >
    update office_supplies_pickup
    set osp_id = #{record.ospId,jdbcType=VARCHAR},
      os_id = #{record.osId,jdbcType=VARCHAR},
      pickup_staff_id = #{record.pickupStaffId,jdbcType=VARCHAR},
      pickup_staff_name = #{record.pickupStaffName,jdbcType=VARCHAR},
      pickup_staff_depart = #{record.pickupStaffDepart,jdbcType=VARCHAR},
      pickup_num = #{record.pickupNum,jdbcType=INTEGER},
      pickup_date = #{record.pickupDate,jdbcType=VARCHAR},
      app_date = #{record.appDate,jdbcType=VARCHAR},
      to_app_id = #{record.toAppId,jdbcType=VARCHAR},
      app_status = #{record.appStatus,jdbcType=INTEGER},
      data_status = #{record.dataStatus,jdbcType=INTEGER},
      others = #{record.others,jdbcType=LONGVARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update office_supplies_pickup
    set osp_id = #{record.ospId,jdbcType=VARCHAR},
      os_id = #{record.osId,jdbcType=VARCHAR},
      pickup_staff_id = #{record.pickupStaffId,jdbcType=VARCHAR},
      pickup_staff_name = #{record.pickupStaffName,jdbcType=VARCHAR},
      pickup_staff_depart = #{record.pickupStaffDepart,jdbcType=VARCHAR},
      pickup_num = #{record.pickupNum,jdbcType=INTEGER},
      pickup_date = #{record.pickupDate,jdbcType=VARCHAR},
      app_date = #{record.appDate,jdbcType=VARCHAR},
      to_app_id = #{record.toAppId,jdbcType=VARCHAR},
      app_status = #{record.appStatus,jdbcType=INTEGER},
      data_status = #{record.dataStatus,jdbcType=INTEGER}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.ethan.oasy.pojo.OfficeSuppliesPickup" >
    update office_supplies_pickup
    <set >
      <if test="osId != null" >
        os_id = #{osId,jdbcType=VARCHAR},
      </if>
      <if test="pickupStaffId != null" >
        pickup_staff_id = #{pickupStaffId,jdbcType=VARCHAR},
      </if>
      <if test="pickupStaffName != null" >
        pickup_staff_name = #{pickupStaffName,jdbcType=VARCHAR},
      </if>
      <if test="pickupStaffDepart != null" >
        pickup_staff_depart = #{pickupStaffDepart,jdbcType=VARCHAR},
      </if>
      <if test="pickupNum != null" >
        pickup_num = #{pickupNum,jdbcType=INTEGER},
      </if>
      <if test="pickupDate != null" >
        pickup_date = #{pickupDate,jdbcType=VARCHAR},
      </if>
      <if test="appDate != null" >
        app_date = #{appDate,jdbcType=VARCHAR},
      </if>
      <if test="toAppId != null" >
        to_app_id = #{toAppId,jdbcType=VARCHAR},
      </if>
      <if test="appStatus != null" >
        app_status = #{appStatus,jdbcType=INTEGER},
      </if>
      <if test="dataStatus != null" >
        data_status = #{dataStatus,jdbcType=INTEGER},
      </if>
      <if test="others != null" >
        others = #{others,jdbcType=LONGVARCHAR},
      </if>
    </set>
    where osp_id = #{ospId,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKeyWithBLOBs" parameterType="com.ethan.oasy.pojo.OfficeSuppliesPickup" >
    update office_supplies_pickup
    set os_id = #{osId,jdbcType=VARCHAR},
      pickup_staff_id = #{pickupStaffId,jdbcType=VARCHAR},
      pickup_staff_name = #{pickupStaffName,jdbcType=VARCHAR},
      pickup_staff_depart = #{pickupStaffDepart,jdbcType=VARCHAR},
      pickup_num = #{pickupNum,jdbcType=INTEGER},
      pickup_date = #{pickupDate,jdbcType=VARCHAR},
      app_date = #{appDate,jdbcType=VARCHAR},
      to_app_id = #{toAppId,jdbcType=VARCHAR},
      app_status = #{appStatus,jdbcType=INTEGER},
      data_status = #{dataStatus,jdbcType=INTEGER},
      others = #{others,jdbcType=LONGVARCHAR}
    where osp_id = #{ospId,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.ethan.oasy.pojo.OfficeSuppliesPickup" >
    update office_supplies_pickup
    set os_id = #{osId,jdbcType=VARCHAR},
      pickup_staff_id = #{pickupStaffId,jdbcType=VARCHAR},
      pickup_staff_name = #{pickupStaffName,jdbcType=VARCHAR},
      pickup_staff_depart = #{pickupStaffDepart,jdbcType=VARCHAR},
      pickup_num = #{pickupNum,jdbcType=INTEGER},
      pickup_date = #{pickupDate,jdbcType=VARCHAR},
      app_date = #{appDate,jdbcType=VARCHAR},
      to_app_id = #{toAppId,jdbcType=VARCHAR},
      app_status = #{appStatus,jdbcType=INTEGER},
      data_status = #{dataStatus,jdbcType=INTEGER}
    where osp_id = #{ospId,jdbcType=VARCHAR}
  </update>

  <select id="getAll" resultMap="BaseResultMap">
    SELECT
      os.`os_name`,
      os.`os_ord_num`,
      osp.*
    FROM office_supplies os,office_supplies_pickup osp
    WHERE os.`os_id` = osp.`os_id` AND osp.`data_status` = 1 AND osp.`app_status` = 1
  </select>

  <select id="getMyAll" resultMap="BaseResultMap">
    SELECT
      os.`os_name`,
      os.`os_ord_num`,
      osp.*
    FROM office_supplies os,office_supplies_pickup osp
    WHERE os.`os_id` = osp.`os_id` AND osp.`data_status` = 1
      AND osp.`pickup_staff_id` = #{staffId,jdbcType=VARCHAR}
  </select>

  <select id="getOsAppById" resultMap="BaseResultMap">
    SELECT
      os.`os_name`,
      os.`os_ord_num`,
      osp.*
    FROM office_supplies os,office_supplies_pickup osp
    WHERE os.`os_id` = osp.`os_id` AND osp.`data_status` = 1
      AND osp.`osp_id` = #{ospId,jdbcType=VARCHAR}
  </select>

  <select id="getApps" resultMap="BaseResultMap">
    SELECT
      os.`os_name`,
      os.`os_ord_num`,
      osp.*
    FROM office_supplies os,office_supplies_pickup osp
    WHERE os.`os_id` = osp.`os_id` AND osp.`data_status` = 1
      AND osp.`to_app_id` = #{staffId,jdbcType=VARCHAR} AND osp.`app_status` = #{status,jdbcType=INTEGER}
  </select>
</mapper>